@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root{
    --dark:  hsl(238, 29%, 16%);
    --soft-red: hsl(14, 88%, 65%);
    --soft-violet: hsl(273, 75%, 66%);
    --soft-blue: hsl(240, 73%, 65%);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}

body{
    background: -webkit-linear-gradient(top, #AF67E9, #6666E7)no-repeat;
    background: -moz-linear-gradient(top, #AF67E9, #6666E7)no-repeat;
    background: linear-gradient(to bottom, #AF67E9, #6666E7) no-repeat; 
}
.App{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width: 770px){
    .App{
       flex-direction: column;
     
    }
}